@font-face {
    font-family: 'Pangram Sans';
    src: url('fonts/pangram-sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
  
  /* Global Styles */
  * {
    font-family: 'Pangram Sans', sans-serif;
    user-select: none;
}

body {
    font-family: 'Pangram Sans', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://images.pexels.com/photos/29097440/pexels-photo-29097440.jpeg?cs=srgb&dl=pexels-steve-29097440.jpg&fm=jpg&_gl=1*1dcuc21*_ga*NjA2NjY1MzUuMTcyNzYxODg3NQ..*_ga_8JE65Q40S6*MTczMTU3MTYzMy42LjEuMTczMTU3MTczMS4wLjAuMA..');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    display: flex;
}

.container {
    background-color: rgba(255, 255, 255, 0.83);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 550px;
    backdrop-filter: blur(10px);

    /* Animation */
    
    transform: translateY(100px); /* Start lower */
    animation: bounceSlideIn 1s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input, select {
    outline: none;
    border: none;
    padding: 20px;
    font-size: 17px;
    max-height: fit-content;
}

button {
    background-color: #117fda;
    color: white;
    cursor: pointer;
    transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 8px;
    padding: 20px;
    font-size: 16px;
    margin-top: 40px;
    width: 50%;
    align-self: center;
}

button:hover {
    background-color: #003a63;
    width: 80%;
    scale: 1.05;
}

button:active {
    background-color: #0068b3;
    width: 80%;
    scale: 1.05;
}

.logo {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

/* Bouncy Slide-in Keyframes */
@keyframes bounceSlideIn {
    0% {
        opacity: 0;
        transform: translateY(100px); /* Start much lower */
    }
    60% {
        opacity: 1;
        transform: translateY(-10px); /* Overshoot slightly */
    }
    100% {
        transform: translateY(0); /* Settle into place */
    }
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    .container {
        width: 60%;
        height: auto;
    }

    button {
        width: 80%;
    }

    button:hover {
        width: 90%;
    }
}

